<footer class="site-footer">
    <div class="text-center">
        2025 &copy; Los Jueves de los pibes.
        <a href="#" class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
</footer>