<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <li>
                <a href="/admin/index">
                    <i class="fa fa-table"></i>
                    <span>Tabla de Asistencias</span>
                </a>
            </li>
            <li>
                <a href="/admin/admindays">
                    <i class="fa fa-edit"></i>
                    <span>Administrar Días</span>
                </a>
            </li>
            <li>
                <a href="/users/list">
                    <i class="fa fa-users"></i>
                    <span>Editar Admins</span>
                </a>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>